**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Jaden Urias
- Andrew Hahn
- Sydney Nichol
- Katie Kim
- Aiden Carbonell

# Research Question

Does an NBA team's number of wins/performance in the regular season influence the average number of attendants during 2001-2023 NBA seasons? Performance refers to the team's wins in both home and away games.

## Background and Prior Work

During an NBA game, each team sends five players to battle it out on the court, showcasing their skills and strategy to determine who’s better. But what about the invisible sixth man in the arena: the fans? Beyond the players and coaches, does the energy and sheer presence of fans affect a team’s performance? And in turn, does a team’s success on the court bring more fans into the stands? We will set out to cover this symbiotic relationship between team performance and attendance numbers by aiming to answer the question of if an NBA team’s performance will influence the number of attendants during the 2001-2023 seasons. For this study, performance refers to the team's wins in both home and away games.

We have found this to be an interesting topic as fans of the NBA since it would be insightful to see if there is correlation between how good a team is and how many fans there are to witness the games in person. Outside of our own love for the game, we figure that this research project will help answer other questions regarding the NBA such as if home court advantage matters, how a team’s players and marketability of those players affect attendance, and how a team’s attendance numbers can fluctuate over time due to how a team is performing. 

In a previous study conducted by Chenzao Wang in 2024 called “The Effect of NBA Attendance on Team’s Performance”<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1), they covered the impact of attendance on team performance during the 2020-2021 NBA season in comparison to regular NBA seasons. The 2020-2021 was the season that got hit by COVID-19 complications in the middle of the playoffs, moving 22 NBA teams to closed arenas in Orlando, Florida, dubbed the “Bubble” era of the NBA. During this time audiences were very limited (only consisting of close friends, family, and staff), and there wasn’t really a home-court advantage as every team played in the same arena in Orlando (there was only one team that could have potentially benefited from “home court advantage”, the Orlando Magic). Wang took the stats of all 30 NBA teams from 2015-2022 (Field Goal Percentage, Free Throws Made, etc.) and the attendance numbers of the 2020-2021 “Bubble” season and analyzed them to see if there was a difference in team performance when there were fans in attendance and little to no fans in attendance. The study concluded in finding there was a slight advantage to home teams when they had audiences present (normal NBA seasons), and home court advantage was less obvious when there were no audiences (COVID season). This finding supports the theory that NBA team performance is positively affected by the fans in attendance. 

The influence of star players on NBA attendance has also been well-documented as Metcalfe (2013)<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) explored the impact of "star power" on fan attendance in his paper "NBA Star Power: Impact on Attendance." This study examined how having highly skilled or well-known players on a team affects fan turnout, analyzing data over several seasons. Metcalfe’s findings suggested that star players are a significant driver of attendance, as fans are more likely to attend games featuring popular or top-performing athletes. This concept of "star power" extends beyond wins and losses, suggesting that fans often view games as an opportunity to see high-profile athletes perform, regardless of the team’s overall record. By examining this factor, Metcalfe’s study sheds light on how audience patterns might align with elements outside of win-loss records, offering a framework for our research as we investigate how team success (wins across both home and away games) relates to attendance across a longer timeline. 

Previous studies used logistic regression models and the Bradley-Terry model to analyze performance and attendance relationships. Wang's work, for instance, utilized logistic models to assess how attendance influences home-court advantage. In our analysis, we plan to use a similar approach by leveraging statistical tools such as regression modeling to find out the relationship between performance metrics and attendance over a broader timeline. We will also account for star presence and team market size to create an accurate model for our research question. These methods will allow us to explore how team performance and other factors influence fan engagement, which provides valuable insights onto NBA attendance patterns from 2001 to 2023.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Chenzao, W. (14 Aug 2024) The Effect of NBA Attendance on Teams’ Performance. *New York University*. https://doi.org/10.61173/7bfxp829
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Metcalfe, C. (2013) NBA Star Power: Impact on Attendance. *St. John Fisher University*. https://fisherpub.sjf.edu/cgi/viewcontent.cgi?article=1089&context=sport_undergrad

# Hypothesis

We hypothesize that an NBA team’s performance is positively correlated with game attendance. We predict that the teams with better performance metrics will see a higher average attendance. The performance metrics we will base on are higher number of wins and improved Elo ratings. 
We also anticipate that this correlation may vary depending on whether the game was at home or away, where there is a stronger correlation for home games due to the support of the local fan base. Also, we take into account some other confounding variables, such as team funding as well as city population. We predict a stronger correlation for the teams with higher budgets or located in densely populated cities. 
Our main prediction is that team performance and attendance have a positive relationship, with attendance likely increasing as team performance improves throughout the season.

# Data

## Data overview
- Dataset #1
  - Dataset Name: Basketball-Reference League Standings
  - Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2023_standings.html 
  - Number of observations: 687
  - Number of variables: 12
- Dataset #2
  - Dataset Name: NBA Attendance Report (2001-2023)
  - Link to the dataset: https://www.espn.com/nba/attendance/_/year/2023/sort/allAvg
  - Number of observations: 686
  - Number of variables: 13
- Dataset #3
  - Dataset Name: FiveThirtyEight NBA Elo
  - Link to the dataset: https://www.kaggle.com/datasets/fivethirtyeight/fivethirtyeight-nba-elo-dataset/data 
  - Number of observations: 57640
  - Number of variables: 14

The first dataset we used was from Basketball Reference’s NBA Standings. This dataset contains the yearly standings and performance metrics of NBA teams, focusing on their win-loss records each season. Important variables include the team name, year, number of wins and losses, as well as home and away records. While the team name is stored as a string, the rest of the variables are represented as integers. The variables in this dataset serve as proxies for team performance and competitive strength. The number of wins provides a straightforward measure of a team’s success over a season, while home and away records can reflect not only performance but also the impact of home-court advantage. Additionally, these metrics may indirectly capture team consistency and popularity, as more successful teams often draw larger fan bases and higher attendance. By examining these variables, we gain insights into both quantitative performance and qualitative aspects, such as fan engagement and team reputation. Data wrangling might include cleaning season-specific records, converting data types for consistency, and handling any missing values for partial seasons.

We then used a dataset extracted from the NBA Attendance Report from years 2001-2023, which contains 686 observations spanning over 22 seasons and 13 variables. The key variables include team name, year, games played, total home game attendance, average attendance per home/road game, and the percentage of arena capacity. Metrics like the total home game attendance, average home game attendance numbers serve as a proxy for fan engagement, while percentage of arena capacity indicates how well teams fill their arenas. The variable of games played is a performance metric and could be cross referenced with a dataset containing wins to examine the correlation with attendance. This dataset will need to be preprocessed, for starting from 2012-2023, the percentage of arena capacity changes its percentage format, and needs to be converted into its decimal form. This will allow all the numeric variables to be properly formatted for analysis. Like I said before, we plan to merge this dataset with a dataset containing performance metrics, using team name and year, to allow a deeper analysis of the relationship between performance and attendance. 

Lastly we used a dataset created by FiveThirtyEight and updated by Neil Paine which calculates each NBA team’s Elo ratings which assesses each team’s strength and calculates a rating which changes based on the expected outcome and the actual result. Winning against a higher rated team or by a large margin will lead to an increase in Elo, and unexpected or significant losses will result in a decrease in Elo. FiveThirtyEight’s model also factors in things like home field advantage, trades, and injuries. Elo ratings will be important in describing each team’s performance and if that rating will have a positive or negative effect on attendance numbers. The important variables are the teams, the season, which team had home field advantage, and each team’s elo before and after each game. The dataset is very large since it takes data from each game of every season, so future data wrangling could be consolidating the team’s elo rating over each season rather than per game, and merging the pre and post ratings into one elo rating. 

To combine these datasets, we plan on consolidating the data by team, using the team variable as the primary key across datasets. We plan on wrangling the data to make all team names consistent among the three datasets and to remove any unneeded variables. This approach allows us to merge performance metrics, attendance figures, and Elo ratings into a by team summary, making it easier to analyze correlations between team performance and attendance across multiple years.

## Basketball-Reference League Standings Dataset

In [14]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd
df_nba_standings = pd.read_csv('NBA_Standings_2001_2023.csv')
df_nba_standings

,Rk,Team,Overall,Home,Road,E,W,Pre,Post,?3,?10,Year
0,1,Sacramento Kings,61-21,36-5,25-16,24-6,37-15,37-12,24-9,6-1,39-15,2001
1,2,Los Angeles Lakers,58-24,34-7,24-17,21-9,37-15,33-13,25-11,7-5,33-10,2001
2,3,San Antonio Spurs,58-24,32-9,26-15,20-10,38-14,31-17,27-7,7-7,34-7,2001
3,4,Dallas Mavericks,57-25,30-11,27-14,23-7,34-18,35-14,22-11,6-6,31-11,2001
4,5,New Jersey Nets,52-30,33-8,19-22,35-19,17-11,32-15,20-15,9-6,26-14,2001
...,...,...,...,...,...,...,...,...,...,...,...,...
682,26,San Antonio Spurs,22-60,12-29,10-31,8-23,14-37,11-44,11-16,5-7,12-31,2023
683,27,Charlotte Hornets,21-61,11-30,10-31,14-38,7-23,13-41,8-20,7-3,5-43,2023
684,28,Portland Trail Blazers,21-61,11-30,10-31,13-17,8-44,15-39,6-22,5-6,5-38,2023
685,29,Washington Wizards,15-67,7-34,8-33,11-41,4-26,9-45,6-22,4-5,6-35,2023
686,30,Detroit Pistons,14-68,7-33,7-35,10-41,4-27,8-46,6-22,1-7,8-39,2023

## NBA Attendance Report (2001-2023) Dataset

In [16]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
df_att_reports = pd.read_csv('nba_attendance_report_2001-2023.csv')
df_att_reports

,YEAR,RK,TEAM,HOME GMS,HOME TOTAL,HOME AVG,HOME PCT,ROAD GMS,ROAD AVG,ROAD PCT,OVERALL GMS,OVERALL AVG,OVERALL PCT
0,2023,1.0,Bulls,41,"841,632","20,527",NaN,41,"18,243",4155.5,82,"19,385",8831.3
1,2023,2.0,76ers,41,"839,261","20,469",NaN,41,"17,910",4079.7,82,"19,190",8742.3
2,2023,3.0,Mavericks,41,"827,282","20,177",NaN,41,"18,138",2065.8,82,"19,158",4363.8
3,2023,4.0,Heat,41,"807,190","19,687",NaN,41,"18,369",4184.1,82,"19,028",8668.4
4,2023,5.0,Celtics,41,"766,240","19,156",NaN,41,"18,830",4289.3,82,"18,991",8546.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,2001,25.0,Clippers,41,"599,448","14,620",NaN,41,"15,823",NaN,82,"15,222",NaN
682,2001,26.0,Hawks,41,"560,324","13,666",NaN,41,"16,403",NaN,82,"15,035",NaN
683,2001,27.0,Nets,41,"566,077","13,806",NaN,41,"16,085",NaN,82,"14,946",NaN
684,2001,28.0,Grizzlies,41,"563,218","13,737",NaN,41,"15,822",NaN,82,"14,779",NaN
685,2001,29.0,Rockets,41,"518,555","12,647",NaN,41,"16,714",NaN,82,"14,680",NaN

## FiveThirtyEight NBA Elo Dataset

In [18]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
df_nba_elo = pd.read_csv('nba_elo_no_playoff_column_v2.csv')
df_nba_elo

,date,season,neutral,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2,is_home
0,2000-10-31,2001,0,TOR,DET,1487.446400,1517.379400,0.599489,0.400511,1475.082800,1529.743000,95,104,1
1,2000-10-31,2001,0,ATL,CHH,1366.968500,1557.864300,0.372095,0.627905,1354.049600,1570.783200,82,106,1
2,2000-10-31,2001,0,CHI,SAC,1326.750100,1535.601600,0.348282,0.651718,1316.620800,1545.730800,81,100,1
3,2000-10-31,2001,0,DAL,MIL,1541.395500,1522.682500,0.664490,0.335510,1545.271200,1518.806800,97,93,1
4,2000-10-31,2001,0,GSW,PHO,1346.886700,1593.094100,0.301190,0.698810,1354.534300,1585.446500,96,94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57635,2024-04-17,2024,0,CHI,ATL,1476.626787,1460.214797,0.661530,0.338470,1484.964268,1451.877316,131,116,1
57636,2024-04-19,2024,0,CHI,MIA,1484.964268,1553.298453,0.275078,0.724922,1476.747046,1561.515674,91,112,0
57637,2024-04-19,2024,0,SAC,NOP,1560.532748,1590.140488,0.321676,0.678324,1555.628852,1595.044384,98,105,0
57638,2024-04-19,2024,0,MIA,CHI,1553.298453,1484.964268,0.724922,0.275078,1561.515674,1476.747046,112,91,1
57639,2024-04-19,2024,0,NOP,SAC,1590.140488,1560.532748,0.678324,0.321676,1595.044384,1555.628852,105,98,1

## Data Cleaning

Before merging the datasets, we need to wrangle them to make sure that variable names stay consistent among them all.

In [21]:
df_nba_standings = df_nba_standings.drop(['Rk', 'E', 'W', 'Pre', 'Post', '?3', '?10'], axis = 1)
df_nba_standings

                       Team Overall   Home   Road  Year
0          Sacramento Kings   61-21   36-5  25-16  2001
1        Los Angeles Lakers   58-24   34-7  24-17  2001
2         San Antonio Spurs   58-24   32-9  26-15  2001
3          Dallas Mavericks   57-25  30-11  27-14  2001
4           New Jersey Nets   52-30   33-8  19-22  2001
..                      ...     ...    ...    ...   ...
682       San Antonio Spurs   22-60  12-29  10-31  2023
683       Charlotte Hornets   21-61  11-30  10-31  2023
684  Portland Trail Blazers   21-61  11-30  10-31  2023
685      Washington Wizards   15-67   7-34   8-33  2023
686         Detroit Pistons   14-68   7-33   7-35  2023

[687 rows x 5 columns]

In [40]:
# Split Overall, Home, and Road columns into Wins and Losses
df_nba_standings[['Overall Wins', 'Overall Losses']] = df_nba_standings['Overall'].str.split('-', expand=True).astype(int)
df_nba_standings[['Home Wins', 'Home Losses']] = df_nba_standings['Home'].str.split('-', expand=True).astype(int)
df_nba_standings[['Road Wins', 'Road Losses']] = df_nba_standings['Road'].str.split('-', expand=True).astype(int)

# Drop the original Overall, Home, and Road columns
df_nba_standings = df_nba_standings.drop(columns=['Overall', 'Home', 'Road'])

In [44]:
# Lowercase all column names
df_nba_standings.columns = df_nba_standings.columns.str.lower()

In [46]:
df_nba_standings

,team,year,overall wins,overall losses,home wins,home losses,road wins,road losses
0,Sacramento Kings,2001,61,21,36,5,25,16
1,Los Angeles Lakers,2001,58,24,34,7,24,17
2,San Antonio Spurs,2001,58,24,32,9,26,15
3,Dallas Mavericks,2001,57,25,30,11,27,14
4,New Jersey Nets,2001,52,30,33,8,19,22
...,...,...,...,...,...,...,...,...
682,San Antonio Spurs,2023,22,60,12,29,10,31
683,Charlotte Hornets,2023,21,61,11,30,10,31
684,Portland Trail Blazers,2023,21,61,11,30,10,31
685,Washington Wizards,2023,15,67,7,34,8,33
686,Detroit Pistons,2023,14,68,7,33,7,35

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [24]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [26]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

[![Deon badge](https://img.shields.io/badge/ethics%20checklist-deon-brightgreen.svg?style=popout-square)](http://deon.drivendata.org/)

## **Privacy**
We will only use publicly available aggregate data without personally identifiable information, such as ESPN's NBA Attendance Report, which do not contain any personally identifiable information. By doing so, we ensure that privacy risks are mitigated. However, it's important to note that ESPN's attendance data is intended for individual use, and scraping or republishing may violate its terms. To address this, we will explore legitimate avenues for accessing and utilizing the data.

## **Bias**
Our analysis is subject to several potential biases inherent in the dataset and its collection:
- **Quality of Attendance**: Attendance figures do not differentiate between home and away fans. This may lead to inaccurate conclusions about fan loyalty to home teams.
- **Differences in Arena Capacity**: Different stadiums have varying capacities, which could skew comparisons of raw attendance figures.
- **Economic Disparities**: Cities hosting NBA teams differ in their economic conditions, which may influence attendance through variations of income and ticket prices.
- **Major Events**: Shared events, like the COVID-19 pandemic, and local events, like the opening of a new stadium, may significantly impact attendance, and could introduce confounding variables.

## **Fairness**
Our dataset and analysis could unintentionally favor certain teams or cities due to these biases:
- **Economic Inequities**: Teams in wealthier cities may naturally have higher attendance, independent of performance.
- **External Events**: Certain teams might experience attendance shifts due to unique events, like the opening of Chase Center for the Golden State Warriors in 2019-2020.
  
To address these biases, we plan to implement several strategies:
1. **Benchmarking Attendance**: To better compare attendance rates across the different teams, a team’s attendance could be measured by taking the proportion of attendees and maximum capacity for a team’s arena.
2. **Segmenting Data**: With major events like the COVID pandemic and the NBA lockout (2011-2012 season in which there was a shortage of games), certain seasons could be parsed out if broader factors limiting attendance are at play. We could possibly also look deeper into individual teams that experienced a local major event (such as the 2019-2020 Golden State Warriors, who played out of Chase Center for the first time) to determine if the event played a role in attendance rather than performance alone.
3. **Implementation of Control Variables**: By looking at economic indicators (unemployment rate, city population, cost of attendance, etc.), we could control for some external factors at play.

## **Transparency**
We will ensure transparency by clearly documenting our data sources, methods, and ethical considerations. Limitations and potential biases will be explicitly communicated, including their implications for our conclusions.

## **Mitigating Harm**
To mitigate potential harm:
- We will exclude outlier seasons or events when external factors heavily influence attendance.
- By segmenting data and benchmarking attendance, we aim to avoid misleading comparisons and ensure that our analysis reflects the true relationship between team performance and attendance.

In conclusion, while our project acknowledges these challenges, we have developed thoughtful strategies to address and mitigate them. This approach will enable us to deliver a robust and equitable analysis of NBA attendance trends.

# Team Expectations

* Team Communication:
Our main communication channels will be Zoom, text, and email. We’ll meet in person weekly to discuss current and upcoming tasks, with virtual meetings as needed to stay on track. We expect responses within 24 hours to maintain progress.
* Tone & Feedback:
Our approach will be honest but polite, encouraging direct, respectful feedback to keep ideas flowing and ensure everyone’s voice is heard. If someone spots a gap, they’ll bring it up constructively, and others will contribute their perspectives.

* Decision-Making:
Jaden Urias will serve as team lead, guiding the group’s progress. Most decisions will be made unanimously, but Jaden will facilitate when needed. If someone is temporarily unavailable, work will continue within designated pairs or trios, ensuring continuity and support.

* Task Assignments:
Each member will focus on tasks aligned with their strengths (e.g., programming, research). Jaden Urias (leadership/editing/research), Andrew Hahn (programming), Katie Kim (programming/research), Sydney Nichol (fill), and Aiden Carbonell (fill) will coordinate their roles weekly. Task tracking will be managed via GitHub Issues.

* Timeline & Support:
Our project timeline is structured but flexible, allowing us to adapt as needed. Paired assignments will help members support each other, so if someone needs assistance, they can rely on their partner or seek help through group chat after a reasonable effort.

* Expectations Reminder:
These guidelines will be pinned in our Discord group for reference throughout the project.

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 10/30  | 1 PM | Discuss ideal dataset(s) and ethics; draft project proposal | Edit, finalize, and submit proposal; Search for datasets |
| 11/6  |  1 PM |  Assign group members to lead each specific part | Discuss Wrangling and possible analytical approaches | 
| 11/12 | 5 PM  | Import & Wrangle Data; EDA  | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 11/20  | 1 PM  | Finalize wrangling/EDA; Begin Analysis | Discuss/edit Analysis; Complete project check-in   |
| 11/27  | 1 PM  | Complete analysis; Draft results/conclusion/discussion | Discuss/edit full project |
| 12/4  | 1 PM  | Finalize project review by everyone| Discuss thoughts on completed project |
| 12/11  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |